<ul>
    <li><a class="active" href="/">test@test.</a></li>
    <button  class="btn btn-primary btn-large btn-block" (click)="logOut()">LogOUT</button>
</ul>

<div class="add">
  <button mat-stroked-button color="primary" (click)="add()">Agregar</button>
</div>
<div class="app-content">
  <mat-card class="container" *ngFor="let carData of data" >
    <mat-card-title class="id"> {{carData.id}} </mat-card-title>
    <mat-card-content class="title" >
      <p>
        {{carData.title}}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button (click)="delete(carData.id)" >Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>

