<div class="app-content">
  <form class="example-form custom-form" action="" method="post">

    <mat-form-field>
      <mat-label>Ingresa un titulo</mat-label>
      <input matInput [(ngModel)]="title" name="title" placeholder="Titulo" required="required">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresa una descripcion</mat-label>
      <input matInput [(ngModel)]="body" name="body" placeholder="Descripcion" required="required">
    </mat-form-field>

    <button mat-button type="submit" (click)="add()">agregar</button>

  </form>
</div>
